.footer {
  font-size: small;
  text-align: center;
  color: blue;
  opacity: 0.8;
  margin: 30px;
}

img {
  max-width: 40%;
  margin: 10px auto;
  filter: invert();
  border-radius: 50%;
  display: block;
}
